{% extends './base.html' %}

{% block title %} Clients {% endblock %}

{% block content %}

 <h2 class="text-center fs-1"> Clients </h2>

<div class="container-flexible py-3 ps-1">
    <a href="{{ url_for('client.create_client') }}"> <button type="button" class="btn create-btn rounded-pill fw-550 px-4 btn-sm">Create new client</button></a>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>surname</th>
            <th>sex</th>
            <th>age</th>
            <th>job</th>
            <th>telephone</th>
            <th>booking id</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                <td> {{ client.id }}</td>
                <td>{{ client.name }} <a href="{{ url_for('client.get_client', client_id=client.id) }} ">
                    <em>(edit client info) </em> </a> </td>
                <td> {{ client.surname }} </td>
                <td> {{ client.sex }} </td>
                <td> {{ client.age }} </td>
                <td> {{ client.job }} </td>
                <td> {{ client.telephone }} </td>
                <td> {{ client.booking_id }} <a href= "{{ url_for('client.get_booking', booking_id=client.booking_id) }} ">
                    <em>(booking info) </em> </a>  </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}