{% extends './base.html' %}

{% block title%} Client {% endblock %}

{% block content %}

{% for error in errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
{% endfor %}

<div class="container my-2">
<form method="post">

    {% if update_client == None and update_booking == None %}
    <h2 class="text-center"> Add new client</h2>
    <!--  Client info-->
    {% include './client/client_info.html' %}

    <!--  Booking info-->
    {% include './client/booking_info.html' %}

    {% else %}

        {% if update_client %}
            {% include './client/client_info.html' %}
        {% else %}
            {% include './client/booking_info.html' %}
        {% endif %}

    {% endif %}

</form>
</div>
{%  endblock %}